/*list pages' attributes*/
.board-list, .card-list {
    margin-top: 50px;
    position: relative;
}

/*tiles' attributes*/
.board, .card, .formbox{
    position: relative;
    /* Add shadows to create the "tile" effect */
    box-shadow: 2px 4px 8px 2px rgba(0,0,0,0.2);
    transition: 0.1s;
    margin: 10px;
    padding: 10px;
    float: left;
    display: inline-block;
    width: 250px;
    height: 170px;
    position: relative;
    word-wrap: break-word;
}

/*dynamic shadow effect for the tiles*/
.board:hover, .formbox:hover {
    box-shadow: 4px 8px 16px 4px rgba(0,0,0,0.2);
}

/*hides the cards on board view*/
#card-container{
    display:none;
}

/*buttons' attributes*/
#add-board, #add-card, #reset {
    width: 50%;
    margin-top: 12px;
}

.delboardbutton, .delcardbutton {
    width: 15%;
    margin-bottom: 10px;
    float: right;
}

.showcardsbutton {
    width: 85%;
    margin-bottom: 10px;

}
