<!DOCTYPE html>
    <head>
        <meta charset="UTF-8">
        <!-- style links -->
        <link href="https://fonts.googleapis.com/css?family=Roboto:400,500,700" rel="stylesheet">
        <link rel="stylesheet" href="http://code.jquery.com/ui/1.10.4/themes/smoothness/jquery-ui.css" />
        <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="../static/css/style.css">

        <!-- script links for bootstrap -->
        <script src="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>

        <!-- tabtitle -->
        <title>ProMan 1.0 Beta version</title>
    </head>

    <body>
        <!-- header -->
        <div id="header" style="margin-top:150px;">
            ProMan 1.0 Beta version
        </div>

        <!-- boxes container  -->
        <div class="container">

            <!-- boards -->
            <div id="boards"></div>


            <!-- add task box -->
            <div class="task-list">
                <h3>Add a board</h3>

                <form id="todo-form">
                <input id="task"><button id="add">Add</button>
                </form>

            </div>

        </div>





        <script src="../static/js/scripts.js"></script>

    </body>


</html>
